# MongoDB Configuration
MONGODB_URL=mongodb://localhost:27017
MONGODB_DB_NAME=career_db

# PostgreSQL Configuration
DATABASE_URL=postgresql+asyncpg://postgres:12345678@localhost:5432/career_utehy_db

# Gemini Configuration
GEMINI_API_KEY=your_gemini_api_key_here
GEMINI_MODEL=gemini-2.5-flash

# Embedding Configuration
EMBEDDING_MODEL_NAME=BAAI/bge-m3
HF_TOKEN=your_hf_token_here

# Milvus Cloud Configuration
MILVUS_URL=your_milvus_cloud_url
MILVUS_TOKEN=your_milvus_cloud_token
MILVUS_COLLECTION=career_jobs_chatbot

# Logging
LOG_LEVEL=INFO

# Server Config
PORT=8001

# CORS Origins
ALLOWED_ORIGINS=*